*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{
    background: #FAFAFA;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
}



/* ==================
    Typography
===================== */

.container-header{
    font-weight: 700;
}

.first-container
                {
color: #FFFFFF;

}
.container p{
    color: #505050;
    font-weight: 400;
}
.logo-image{
    width: 24px;
    height: 24px;

}
.inner{
    margin-top: 6em;
    margin-left: 1em;
    margin-bottom: 1em;
    margin-right: 1em;
    line-height: 1.6;   
}

.inner-container img{
    min-width: 374px;
    width: 100%;
}

.inner-container{
    
    margin-top: 3em ;
    margin-right: 1em;
    margin-left: 1em;
    margin-bottom: 1em;
}


.date{
    margin-top: 1.5em;
}

.body-text{
    width: 90%;
    margin: 0 auto;
}

.header-text{
    font-size: 0.9rem;
    
}


h3{
    text-align: center;
}

.my-picture-text{
    display: flex;
    
    flex-direction: column;
    margin-left: 2em;
    margin-right: 2em;

    
}


.my-picture-text img{
    width: 200px;
    height: 200px;
}



/* ==================
    general layout
===================== */

.main-grid {
    display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 2em;
  margin-top: 2em;  
}



@media (min-width: 600px) {
    .main-grid {
        
        flex-direction: column;
        
    }
   
    
}



/* navigation */

.header {
    background: black;
}

.header-home {
    background: transparent;
    height: 3.8rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 1em;
   
    
}

.container{
    margin-top: 2em;
}

.div-container{
    width: 90%;
    margin: 0 auto;
    text-align: justify;
    flex-wrap: wrap;
       
}

.header-content {
    display: flex;
   margin-left: 1.5em;
   justify-content:flex-start;
   width: 50%;
   align-items: center;
   
   
   
}



.header-content h1{
    width: 70%;
}

.nav {
    position: fixed;
    background: #000;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 100%;
    transform: translateX(0);
    transition: transform 250ms;
}

.navigation-open {
    transform: translateX(-100%);
}

.nav-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.nav-link {
    color:#090909;
    ;
    text-decoration: none;
    font-size: 3rem;
    font-weight: 700;
}

.nav-link:hover,
.nav-link:focus {
    color: #FFE600;
}

@media (max-width: 600px) {
    .nav-link{
        color: #FFFFFF;
    }
}
.close-nav {
    border: 0;
    background: 0;
    color: #FFE600;
    font-weight: 700;
    font-size: 3rem;
    cursor: pointer;
    padding: .5em;
    position: absolute;
}

.open-nav {
    border: 0;
    background: 0;
    color: #000;
    cursor: pointer;
    padding: .5em;
    margin-left: auto;
    font-size: 1.5em;
}


.first-container{
    background-image: url(images/article-image-hero.png);
    
    background-size: cover;
}

.container img{
    width: 100%;
}


@media (min-width: 600px) {
    .open-nav,
    .close-nav {
        display: none;
    }
    
    .nav{
        position: initial;
        
    }
    
    .nav-list {
        flex-direction: row;
        justify-content: flex-end;
        margin-right: 4.5em;
    }
    
    .nav-item {
        margin-left: 2em;
    }
    
    .nav-link {
        font-size: 1rem;
    }

    
    
    .header-home .nav {
        background: transparent;
    }

    .first-container{
        position: relative;
        height: 75vh;
    }

    .inner-container img{
        max-width: 1425px;
        width: 100%;
        height: 654px;
        margin: 0 auto;
        
        
        }

   
    .top-container{
        width: 90%;
       
        margin: 0 auto;
    }    

    .div-container{
        display: flex;
        margin: 0 auto;
      justify-content: space-between;
        text-align: justify;
       
    }

    
   .container p{
    width: 100%;
  
   }

   .container{
    width: 30%;
   }

   .inner{
    position: absolute;
    bottom: 0;
    width: 40%;
    margin-left: 4.5em;
   
   }

   .header-content{
margin-left: 4.5em;
   }

   .my-picture-text{
    flex-direction: row;
    justify-content: space-between;
}

.my-text{
    align-items: flex-end;
    margin-left: 2em;
}

.div-container #open-container{
    flex-direction: row;
}

    
}


.footer {
    color: #D7D7D7;
    background-color: #202020;
    padding: 2em 0;
    text-align: center;
    
    
}



